body{
    display: block;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-left: 6rem;
    background-color: bisque;

}
.catalogo{
    width: 90%;
}
hr{
    border:solid 0.01px;

    border-color: black; 
   }
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    letter-spacing: 3.5px;
    width: 40vh;
}
.title-page{
    font-size: 50px;
}

.gato{
    width: 90%;
}

.label{
    margin-bottom: 10vh;
}
.xForm{
    width: 40vh
}
.input{
    background-color: blanchedalmond;
    width: 65vh;
    height: 3.7vh;
    border-radius: 8px;
    font-size: larger;
    margin-top: 2em;
    margin-bottom: 2em;
}
textarea{
    font-size: larger;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: blanchedalmond;
    border-radius: 8px;
}
img{
    width: 80vw;
    height: 30vh;
    border: solid 1px;
    border-radius: 8px;
}
.button{
    background-color: blanchedalmond;
    width: 150px;
    height: 50px;
    padding-left: -3px;
    padding-right: 10px;
    text-indent: 1px;
    border-radius: 8px;
    margin-bottom: 40px;
}
.button:hover{
    background-color: rgb(158, 111, 40);
    width: 150px;
    height: 50px;
    padding-left: -3px;
    padding-right: 10px;
    text-indent: 1px;
    border-radius: 8px;
    margin-bottom: 40px;
}




input[type="checkbox"] {
    margin-right: 5px;
    background-color: white;
    height: 10px;
    transform: rotate(-45deg);
    width: 10px;
    position: relative;
    appearance: none
    ;
}


input[type="checkbox"]:before,
input[type="checkbox"]:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

input[type="checkbox"]:before {
    top: -5px;
}

input[type="checkbox"]:after {
    left: 5px;
}
input[type="checkbox"]:checked{
    background-color: red;
    color: red;}

@media screen and (max-width:1080px){
    body{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        width: 90vw;
        height: 100vh;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: rgb(255, 255, 255);
    
    }
    .catalogo{
        width: 90vw;
    }
    hr{
        border:solid 0.01px;
    
        border-color: black; 
       }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        letter-spacing: 3.5px;
        width: 40vh;
    }
    .title-page{
        font-size: 50px;
    }
    
    .gato{
        width: 80vh
    }
    
    .label{
        margin-bottom: 10vh;
    }
    .xForm{
        width: 40vh
    }
    .input{
        background-color: rgb(133, 41, 136);
        width: 30vh;
        height: 3.7vh;
        border-radius: 8px;
        font-size: larger;
        margin-top: 2em;
        margin-bottom: 2em;
        color: aliceblue;
    }
    textarea{
        font-size: larger;
        font-style: italic;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: rgb(133, 41, 136);
        border-radius: 8px;
        color: aliceblue;
    }
    img{
        width: 80vw;
        height: 20vh;
        border: solid 1px;
        border-radius: 8px;
    }
    .button{
        background-color: rgb(133, 41, 136);
        width: 150px;
        height: 50px;
        padding-left: -3px;
        padding-right: 10px;
        text-indent: 1px;
        border-radius: 8px;
        margin-bottom: 40px;
    }
    .button:hover{
        background-color: rgb(248, 16, 8);
        width: 150px;
        height: 50px;
        padding-left: -3px;
        padding-right: 10px;
        text-indent: 1px;
        border-radius: 8px;
        margin-bottom: 40px;
    }
    
    
}
